{% extends 'base.html' %}

{% block title%} Edit Post {% endblock title%}
{% block blogactive %} active {% endblock blogactive %}
{% block body %}
    <div class="container my-3">
        <h3>Edit a Post</h3>
        <form method="post" action="/blog/blog_edit_post/{{ user.username }}/{{ post.id }}">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Post Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ post.title}}">
            </div>
            <div class="form-group">
                <label for="source">Post Source</label>
                <input type="text" class="form-control" id="source" name="source" value="{{ post.source}}">
            </div>
            <div class="form-group">
                <label for="content">Post Text</label>
                <textarea class="form-control" rows=10 id="content" name="content">{{ post.content }}</textarea>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
{% endblock body %}