{% extends 'base.html' %}

{% block title %} News {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}
{% block body %}
    <div class="container my-3">
        <h2>News feed ({{ time_range }}):</h2>
        {% if all_posts|length == 0 %}
            <p>No news for this time.</p>
        {% endif %}
        <form class="form">
            <div class="container px-0 my-3">
                <button class="dropdown-toggle btn btn-dark mr-2 my-sm-0" id="postsFromDropdown"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-sliders-h" aria-hidden="true"></span>
                </button>
                <div class="dropdown-menu p-1 my-1" aria-labelledby="postsFromDropdown">
                    <a class="dropdown-item" href="/blog/blog_posts_from?time_range=hour">Now</a>
                    <a class="dropdown-item" href="/blog/blog_posts_from?time_range=day">Today</a>
                    <a class="dropdown-item" href="/blog/blog_posts_from?time_range=week">This Week</a>
                    <a class="dropdown-item" href="/blog/blog_posts_from?time_range=month">This Month</a>
                    <a class="dropdown-item" href="/blog/blog_posts_from?time_range=year">This Year</a>
                    <a class="dropdown-item" href="/blog/blog_posts_from?time_range=all">All Time</a>
                </div>
            </div>
        </form>
        {% for post in all_posts %}
            <div class="row no-gutters border rounded overflow-hidden flex-md-row my-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <div class="mb-0 text-muted">
                        Posted by
                        <a href="/blog/blog_user_posts/{{ post.author }}/"
                           class="text-muted text-decoration-none">{{ post.author }}
                        </a> {{ post.get_date }}  <br> ({{ post.views }} views, {{ post.votes_up }} upvotes)
                    </div>
                    <a href="/blog/{{ post.id }}/{{ post.slug }}"
                       class="text-body text-decoration-none">
                        <h3 class="mb-2">{{ post.title }}</h3>
                    </a>
                    <p class="card-text mb-3">{{ post.content | truncatechars:500 }}</p>
                    <a class="text-decoration-none text-muted my-1" href="{{ post.source }}">
                        Source: {{ post.source }}
                    </a>
                    <div class="my-0 mt-3">
                        <p>Comments: {{ post.comments }}</p>
                        <p>Rating: {{ post.get_rating }}</p>
                        <a href="/blog/{{ post.id }}/{{ post.slug }}" role="button"
                           class="btn btn-dark">
                            Read more
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container my-3">
        {% if all_posts.paginator.num_pages > 1 %}
            {% include 'pagination.html' with all_posts=all_posts %}
        {% endif %}
    </div>

{% endblock body %}